*.gz
*.o
next-protocols.pc
next_control_v1.rs
nextctl-go/pkg/next_control/next_control_v1.go
nextctl-go/nextctl
nextctl/next-control-v1.c
nextctl/next-control-v1.h
nextctl/nextctl
target/
zig-cache
zig-out
/next/protocols/*.h
/next/next
