[submodule "protocols/wlr-protocols"]
	path = protocols/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols
    ignore = dirty
[submodule "protocols/wayland-protocols"]
	path = protocols/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols
    ignore = dirty
[submodule "deps/wlroots"]
	path = deps/wlroots
    url = https://gitlab.freedesktop.org/wlroots/wlroots
    ignore = dirty
